---
date: git Last Modified
tags: post
permalink: "posts/{{ title | slugify }}"
---

{% extends "./base.njk" %}
{% import "./fragments/post.njk" as p %}

{% block content %}
    {{ p.post(title, subtitle, img, imgAlt, content, page) }}
{% endblock %}