@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Urbanist:ital,wght@0,400;0,700;1,400&display=swap");

$font-stack: "Urbanist", sans-serif;
$font-weight: 400;

$font-stack-alt: "Libre Baskerville", serif;
$font-weight-alt: 700;

$text-xs: 12px;
$text-sm: 14px;
$text-md: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-xxl: 24px;

$color-primary: #001709;
$color-on-primary: #ffe2ac;
$color-on-primary-alt: #ffba39;
$color-on-primary-alt2: #00a33f;
$color-on-primary-alt3: #5d3b04;

$spacing-xxs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-sm: 0.625rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$radius-sm: 5px;
$radius-md: 10px;
$radius-lg: 20px;

:root {
  font-family: $font-stack;
  font-weight: $font-weight;
  font-size: $text-md;

  background: $color-primary;
  color: $color-on-primary;
}

header {
  width: 100%;
  background-color: $color-on-primary-alt3;
  font-size: $text-sm;

  nav {
    max-width: $screen-lg;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-xs;

    a {
      color: $color-on-primary-alt;
      text-decoration: none;
    }
  }
}

footer {
  width: 100%;
  color: $color-on-primary-alt;
  background-color: $color-on-primary-alt3;
  font-size: $text-sm;

  p {
    max-width: $screen-lg;
    margin: 0 auto;
    padding: $spacing-xxs;
  }
}

.content {
  max-width: $screen-lg;
  margin: 0 auto;
  padding: $spacing-md;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-alt;
  font-weight: $font-weight-alt;
  color: $color-on-primary-alt;
}

h1 {
  font-size: $text-xxl;
  margin-bottom: $spacing-md;
}

h2 {
  font-size: $text-xl;
}

h3 {
  font-size: $text-lg;
}

h4 {
  font-size: $text-md;
}

strong {
  font-weight: $font-weight-alt;
  color: $color-on-primary-alt;
}

em {
  font-style: italic;
  color: $color-on-primary-alt2;
}

blockquote {
  border-left: $spacing-xxs solid $color-on-primary-alt3;
  margin: $spacing-md;
  padding-left: $spacing-xs;

  p {
    margin: 0 0 $spacing-sm 0;
  }

  ul {
    list-style-type: disc;
    margin: 0 0 $spacing-sm $spacing-lg;
  }
}

.post-subtitle {
  font-size: $text-md;
  margin-bottom: $spacing-md;
  font-weight: $font-weight;
  font-style: italic;
  color: $color-on-primary-alt2;
}

.post-image-container {
  display: flex;
  max-height: $screen-xs;
  max-width: 100%;
  justify-content: center;
  margin-bottom: $spacing-lg;
}

.post-image {
  display: inline-flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 45%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;

  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
